<div class="view">
    <app-logo class="logo"></app-logo>
    <nav class="home-navigation">
        <ul class="navigation">
            <li class="navigation-list-item"><a class="navigation-link" routerLink="">Jugar Online</a></li>
            <li class="navigation-list-item"><a class="navigation-link" routerLink="/juegoIA">Jugar contra IA</a></li>
            <li class="navigation-list-item"><a class="navigation-link" routerLink="/ajustes">Ajustes</a></li>
            <li class="navigation-list-item"><a class="navigation-link" routerLink=" ">Sobre la app</a></li>
        </ul>
    </nav>
</div>