.cartas-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.carta-container {
    display: block;
    height: 100px;
    width: 17%;
}

@media screen and (min-width:480px) {}